.navigationbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #171c23;
  padding: 0 20%;

  & .nav-menu {
    display: flex;
    gap: 3em;
    justify-content: center;
  }

  & .nav-logo img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
  }

  & li {
    list-style-type: none;
    padding-left: 0px;
  }

  & li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
}
